@import url("/home/ks/.cache/wal/colors-waybar.css"); /* ou remova o '~' se não funcionar */

* {
    font-family: "Monocraft";
    font-weight: bold;
    font-size: 12px;
    padding: 0px 5px;
    margin: 0px;
    color: @color6;
    border-color: transparent;
}

window#waybar {
    border-style: solid;
    background-color: @background;
}
