@import url("/home/ks/.cache/wal/colors-waybar.css");

window#waybar {
    background-color: transparent;
    border-style: solid;
    font-family: "Monocraft";
    font-weight: bold;
    font-size: 12px;
    color: @color6;
    padding: 0;
    margin: 0;
}
#workspaces,
#clock,
#battery,
#network,
#tray,
#cpu,
#memory,
#disk,
#language,
#cava {
    background-color: @background;
    border-radius: 30px;
    margin: 7px 5px 0 5px;
    padding: 0 10px;
    color: @color6;
}
#workspaces button{
    color: @color6;
}
#custom-launcher{
    background-color: @background;
    border-radius: 30px;
    padding: 0 5px 0 8px;
    margin: 7px 5px 0 5px;
}
#custom-power{
    background-color: @background;
    border-radius: 30px;
    padding: 0 3px 0 9px;
    margin: 7px 5px 0 5px;
}
#pulseaudio{
    background-color: @background;
    border-radius: 30px;
    margin: 7px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
}
#workspaces button {
    padding: 0 8px;
    background: transparent;
    box-shadow: none;
    border: none;
}
